<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <title><%= @title %></title>

    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
    <!--<link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />-->

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= include_gon %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>

    <link href="/assets/stylesheets/common.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrapper">
      <%= render 'shared/header' %>

      <hr class="separate">

      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12">
          <%= yield %>
          </div>
        </div>
      </div>

      <div class="container">
      <%= render 'shared/footer' %>
      </div>
    </div>

    <script src="/assets/javascripts/common.js"></script>
  </body>
</html>